<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus nemo molestias sunt, quis blanditiis voluptates ipsa dicta vitae, ex nobis facere non veritatis similique, perferendis perspiciatis! Impedit hic laudantium molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptates exercitationem laboriosam odit dignissimos iusto culpa odio aut similique non fugit explicabo, praesentium quas at dicta a? Magni, maxime a.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quos temporibus? Exercitationem perferendis nemo nulla unde incidunt est minus eveniet, iste maxime neque doloribus quam laudantium facere hic laboriosam omnis?
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam nesciunt a eveniet eligendi. Aut provident quod eum natus similique fugit eaque, excepturi magni fuga tenetur placeat, praesentium eius assumenda expedita.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint accusamus voluptatibus numquam eum fugiat nam quia. Ad eum autem, omnis illum ducimus saepe nesciunt velit atque, dolorem nulla, magnam quam?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, at in provident eaque velit animi beatae eveniet, cupiditate culpa, accusamus vitae delectus qui. Iure suscipit doloribus incidunt a. Voluptatibus, incidunt.
        <br>
    </p>
</div>